@model  IEnumerable<WebHotel.Models.Review>
<div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s" style="margin-bottom: 90px;">
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            @foreach (var i in Model)
            {
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden" style="height:250px">

                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/Upload/img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">@i.name</h6>
                            <small>@i.profession</small><br />
                            <small>Ngày đăng:@(i.datebegin.HasValue ? i.datebegin.Value.ToString("dd/MM/yyyy") : "")</small>

                        </div>
                    </div>
                    <p>@i.reviews</p>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
            }
        </div>
    </div>
</div>
