@{
    ViewBag.Title = "Phong";
    Layout = "~/Views/Shared/Mylayout.cshtml";
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Rooms</h6>
            <h1 class="mb-5"><span class="text-primary text-uppercase">@Model.name</span></h1>
        </div>
        <div class="row g-4">
            @Html.Action("getRoomByCaterogy", "Default", new { id = Model.id, metatitle = @Model.meta })
        </div>
    </div>
</div>
